<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un hero</title>
</head>
<body>
<form action="#" th:action="@{/hero}" method="post" th:object="${hero}">
  <div>
    <label> Pseudo </label>
    <input type="text" th:field="*{pseudo}" />
  </div>
  <div>
    <label>Incendie</label>
    <input type="checkbox" value="0" th:field="*{type}" />
  </div>
  <div>
    <label>Accident routier</label>
    <input type="checkbox" value="1" th:field="*{type}" />
  </div>
  <div>
    <label>Accident fluviale</label>
    <input type="checkbox" value="2" th:field="*{type}" />
  </div>
  <div>
    <label>Accident aérien</label>
    <input type="checkbox" value="3" th:field="*{type}" />
  </div>
  <div>
    <label>Eboulement</label>
    <input type="checkbox" value="4" th:field="*{type}" />
  </div>
  <div>
    <label>Invasion de serpent</label>
    <input type="checkbox" value="5" th:field="*{type}" />
  </div>
  <div>
    <label>Fuite de gaz</label>
    <input type="checkbox" value="6" th:field="*{type}" />
  </div>
  <div>
    <label>Manifestation</label>
    <input type="checkbox" value="7" th:field="*{type}" />
  </div>
  <div>
    <label>Braquage</label>
    <input type="checkbox" value="8" th:field="*{type}" />
  </div>
  <div>
    <label>Evasion d’un prisonnier</label>
    <input type="checkbox" value="9" th:field="*{type}" />
  </div>

  <div>
    <label>longitude</label>
    <input type="text" th:field="*{longitude}" />
  </div>
  <div>
    <label>latitude</label>
    <input type="text" th:field="*{latitude}" />
  </div>
  <div>
    <label>tel</label>
    <input type="text" th:field="*{tel}" />
  </div>
  <div>
    <button type="submit">Valider</button>
  </div>
</form>
</body>
</html>
