<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Vous etes bien sur SuperSite</p>
    <p>Vous avez acces à deux parties sur notre site :</p>
</div>

<ul>
    <li><h2><a th:href="@{/creer_accident}">Report Accidents</a></h2></li>
    <br/>
    <li><h2><a th:href="@{/heroes}">Super Heros</a></h2></li>
</ul>
</body>
</html>